In [2]:
import pandas as pd
from pymongo import MongoClient
import json

In [4]:
import pandas as pd

# Load the cleaned charging stations data
cleaned_charging_stations_file = 'cleaned_charging_stations.csv'  # Replace with the correct file path
cleaned_charging_stations_df = pd.read_csv(cleaned_charging_stations_file)

# Check for missing values and print summary
missing_summary = cleaned_charging_stations_df.isnull().sum()
print("Missing values summary:\n", missing_summary)

# Fix columns without replacing "Unknown"
# Ensure Latitude and Longitude are numeric
cleaned_charging_stations_df['Latitude'] = pd.to_numeric(cleaned_charging_stations_df['Latitude'], errors='coerce')
cleaned_charging_stations_df['Longitude'] = pd.to_numeric(cleaned_charging_stations_df['Longitude'], errors='coerce')

# Fill NaN values in numeric columns with 0
cleaned_charging_stations_df['PowerOutput'] = cleaned_charging_stations_df['PowerOutput'].fillna(0)


# Ensure consistent formatting for ChargingPoints_Flag
cleaned_charging_stations_df['ChargingPoints_Flag'] = cleaned_charging_stations_df['ChargingPoints_Flag'].astype(int)

# Save the fixed data
cleaned_charging_stations_df.to_csv('fixed_cleaned_charging_stations.csv', index=False)

# Print data types and sample data for validation
print("Data types after processing:\n", cleaned_charging_stations_df.dtypes)
print("\nSample data:\n", cleaned_charging_stations_df.head())

Missing values summary:
 Cost                    21
ChargingPoints           0
PayAtLocation            0
MembershipRequired       0
AccessKeyRequired        0
IsOperational            0
Latitude                 0
Longitude                0
Operator                 0
ConnectionType           0
PowerOutput            595
CurrentType              0
ChargingPoints_Flag      0
dtype: int64
Data types after processing:
 Cost                    object
ChargingPoints           int64
PayAtLocation           object
MembershipRequired      object
AccessKeyRequired       object
IsOperational           object
Latitude               float64
Longitude              float64
Operator                object
ConnectionType          object
PowerOutput            float64
CurrentType             object
ChargingPoints_Flag      int32
dtype: object

Sample data:
       Cost  ChargingPoints PayAtLocation MembershipRequired AccessKeyRequired  \
0  Unknown               1       Unknown            Unknown           Unknown
1  Unknown               1       Unknown            Unknown           Unknown
2  Unknown               2       Unknown            Unknown           Unknown
3  Unknown               8       Unknown            Unknown           Unknown
4  Unknown               4       Unknown            Unknown           Unknown

  IsOperational   Latitude   Longitude            Operator  \
0       Unknown -31.936252  115.871531             Unknown
1       Unknown -32.935880  151.643848         ChargePoint
2       Unknown -41.218297  146.412523             Unknown
3       Unknown -34.755480  149.720994  Tesla Supercharger
4       Unknown -37.887228  145.082491         Tesla, Inc.

         ConnectionType  PowerOutput CurrentType  ChargingPoints_Flag
0               Unknown          0.0     Unknown                    1
1        Type 1 (J1772)          0.0     Unknown                    1
2  Type 2 (Socket Only)          0.0     Unknown                    0
3               Unknown          0.0     Unknown                    0
4               Unknown          0.0     Unknown                    0

In [5]:
import pandas as pd

# Load the EV vehicles data 
ev_vehicles_df = pd.read_csv('EVAT.ev_vehicles.csv')

# Inspect the first few rows of the data
print("First few rows of the data:\n", ev_vehicles_df.head())

# Check the data types of each column
print("\nData types:\n", ev_vehicles_df.dtypes)

# Check for missing values
print("\nMissing values in each column:\n", ev_vehicles_df.isnull().sum())

# Get summary statistics
print("\nSummary statistics:\n", ev_vehicles_df.describe())

# Step 5: Check unique values for categorical columns to detect any inconsistencies
for col in ['make', 'model', 'fuel_type', 'body_style', 'driving_wheels_no']:
    print(f"\nUnique values in '{col}':\n", ev_vehicles_df[col].unique())

First few rows of the data:
                         _id  model_release_year   make    model  \
0  66d7e0f5cdf87e8b5d63de70                2020  Tesla  Model 3
1  66d7e0f5cdf87e8b5d63de71                2022  Tesla  Model 3
2  66d7e0f5cdf87e8b5d63de72                2022  Tesla  Model 3
3  66d7e0f5cdf87e8b5d63de74                2021  Tesla  Model 3
4  66d7e0f5cdf87e8b5d63de79                2020  Tesla  Model 3

                 variant  engine_displacement engine_configuration  \
0   StandardRange (E1RB)                  0.0             Electric
1  StandardRange (E6LRB)                  0.0             Electric
2            RWD (E6LRB)                  0.0             Electric
3      LongRange (E5LDB)                  0.0             Electric
4       LongRange (E5DB)                  0.0             Electric

  engine_induction  fwd_gears_no transmission_type_description  ...  \
0              NaN             1                           NaN  ...
1              NaN             1                           NaN  ...
2              NaN             1                           NaN  ...
3              NaN             1                           NaN  ...
4              NaN             1                           NaN  ...

   electric_range_km  air_pollution_standard is_current_model  model_end_year  \
0                490                 Pure EV              Yes               0
1                559                 Pure EV              Yes               0
2                559                 Pure EV              Yes               0
3                694                 Pure EV              Yes               0
4                657                 Pure EV              Yes               0

  fuel_life_cycle_co2  annual_tailpipe_co2  annual_fuel_cost  \
0                 107                    0               554
1                 109                    0               563
2                 109                    0               563
3                 109                    0               567
4                 112                    0               580

   model_release_version  test_speed stationary_noise_data
0                    NaN         NaN                   NaN
1                    NaN         NaN                   NaN
2                    NaN         NaN                   NaN
3                    NaN         NaN                   NaN
4                    NaN         NaN                   NaN

[5 rows x 28 columns]

Data types:
 _id                               object
model_release_year                 int64
make                              object
model                             object
variant                           object
engine_displacement              float64
engine_configuration              object
engine_induction                  object
fwd_gears_no                       int64
transmission_type_description     object
side_door_no                       int64
seating_capacity                   int64
body_style                        object
driving_wheels_no                  int64
fuel_type                         object
co2_emissions_combined             int64
fuel_consumption_combined          int64
energy_consumption_whkm            int64
electric_range_km                  int64
air_pollution_standard            object
is_current_model                  object
model_end_year                     int64
fuel_life_cycle_co2                int64
annual_tailpipe_co2                int64
annual_fuel_cost                   int64
model_release_version             object
test_speed                       float64
stationary_noise_data            float64
dtype: object

Missing values in each column:
 _id                                0
model_release_year                 0
make                               0
model                              0
variant                            9
engine_displacement                0
engine_configuration               0
engine_induction                 199
fwd_gears_no                       0
transmission_type_description     44
side_door_no                       0
seating_capacity                   0
body_style                         0
driving_wheels_no                  0
fuel_type                          0
co2_emissions_combined             0
fuel_consumption_combined          0
energy_consumption_whkm            0
electric_range_km                  0
air_pollution_standard             0
is_current_model                   0
model_end_year                     0
fuel_life_cycle_co2                0
annual_tailpipe_co2                0
annual_fuel_cost                   0
model_release_version            117
test_speed                       182
stationary_noise_data            186
dtype: int64

Summary statistics:
        model_release_year  engine_displacement  fwd_gears_no  side_door_no  \
count           200.00000           200.000000    200.000000    200.000000
mean           2022.16500             0.008000      1.010000      3.910000
std               1.50302             0.113137      0.245359      0.403378
min            2016.00000             0.000000      0.000000      2.000000
25%            2021.75000             0.000000      1.000000      4.000000
50%            2022.00000             0.000000      1.000000      4.000000
75%            2023.00000             0.000000      1.000000      4.000000
max            2024.00000             1.600000      2.000000      4.000000

       seating_capacity  driving_wheels_no  co2_emissions_combined  \
count        200.000000          200.00000                   200.0
mean           4.980000            3.07000                     0.0
std            0.749941            1.00005                     0.0
min            2.000000            2.00000                     0.0
25%            5.000000            2.00000                     0.0
50%            5.000000            4.00000                     0.0
75%            5.000000            4.00000                     0.0
max            8.000000            4.00000                     0.0

       fuel_consumption_combined  energy_consumption_whkm  electric_range_km  \
count                      200.0               200.000000         200.000000
mean                         0.0               185.020000         479.610000
std                          0.0                37.462203         100.316874
min                          0.0               126.000000         222.000000
25%                          0.0               159.000000         427.000000
50%                          0.0               178.500000         477.500000
75%                          0.0               207.750000         539.250000
max                          0.0               280.000000         722.000000

       model_end_year  fuel_life_cycle_co2  annual_tailpipe_co2  \
count      200.000000           200.000000                200.0
mean        50.600000           149.905000                  0.0
std        316.789866            30.360083                  0.0
min          0.000000           102.000000                  0.0
25%          0.000000           129.000000                  0.0
50%          0.000000           144.500000                  0.0
75%          0.000000           168.500000                  0.0
max       2024.000000           227.000000                  0.0

       annual_fuel_cost   test_speed  stationary_noise_data
count        200.000000    18.000000              14.000000
mean         777.045000  2750.222222              66.500000
std          157.359503  2347.439194               5.557393
min          529.000000     1.000000              48.000000
25%          668.000000  1200.000000              66.250000
50%          750.000000  2475.000000              67.500000
75%          872.250000  4000.000000              68.750000
max         1176.000000  7000.000000              71.000000

Unique values in 'make':
 ['Tesla' 'MG' 'Mercedes-Benz' 'Toyota' 'BMW' 'BYD' 'Lexus' 'MINI'
 'Renault' 'Subaru' 'Hyundai' 'Fiat' 'Peugeot' 'Kia' 'GWM' 'Cupra'
 'Nissan' 'Ford' 'Volvo' 'Genesis' 'Mazda' 'Audi' 'Polestar' 'Porsche'
 'Jaguar' 'Rolls-Royce' 'LDV']

Unique values in 'model':
 ['Model 3' 'MG4' 'EQA Class' 'bZ4X' 'X1' 'ATTO 3' 'EQE Class' '5 Series'
 'DOLPHIN' 'UX 300e' 'I01' 'Aceman' 'EQB' 'Model Y' 'Megane E-Tech'
 'Kangoo' 'ZS EV' 'i3' 'Solterra' 'IONIQ6' '500e' '2008' 'Niro' 'EQE'
 'SEAL' 'Cooper' 'RZ 450e' 'Model S' 'Ora' 'Cooper SE' 'Born' 'ZE1 LEAF'
 'Kangoo E-Tech' 'Countryman' 'EQE SUV' 'iX2' 'Leaf' 'EV6' 'Mach-E' 'G26'
 'EX30' 'C40' 'EQS SUV' 'EV5' 'XC40' 'GV60' 'Ioniq 5' 'Niro Plus' 'MX-30'
 'Model X' 'G80' 'e-tron GT' '2' '7 Series' 'GV70' 'Partner ' 'EQS' 'iX'
 'EV9' 'e-tron' 'Taycan' 'e-tron S Sportback' 'IONIQ5' 'I-Pace'
 'e-tron Sportback' 'EQC Class' 'Q8' 'eVito' 'e-tron S' 'RS e-tron GT'
 'Spectre Black Badge' 'G70' '4 Series' 'I Pace' 'EQV' 'eT60' 'X3'
 'Spectre' 'iX3' 'Q8 e-tron' 'Q8 e-tron Sportback']

Unique values in 'fuel_type':
 ['Pure Electric']

Unique values in 'body_style':
 ['Sedan' 'Hatch' 'Wagon' 'SUV' 'Van' 'Coupe' 'Utility']

Unique values in 'driving_wheels_no':
 [2 4]

In [8]:
# Handle missing values for the 'model_release_version' column
ev_vehicles_df['model_release_version'] = ev_vehicles_df['model_release_version'].fillna(ev_vehicles_df['model_release_version'].mode()[0])  # Fill with mode

# Handle missing values for categorical columns
ev_vehicles_df['variant'] = ev_vehicles_df['variant'].fillna(ev_vehicles_df['variant'].mode()[0])  # Fill with mode
ev_vehicles_df['engine_induction'] = ev_vehicles_df['engine_induction'].fillna(ev_vehicles_df['engine_induction'].mode()[0])
ev_vehicles_df['transmission_type_description'] = ev_vehicles_df['transmission_type_description'].fillna(ev_vehicles_df['transmission_type_description'].mode()[0])

# Handle numerical columns (if necessary, fill with mean/median)
ev_vehicles_df['test_speed'] = ev_vehicles_df['test_speed'].fillna(ev_vehicles_df['test_speed'].mean())  # For numeric columns, you can fill with mean or median
ev_vehicles_df['stationary_noise_data'] = ev_vehicles_df['stationary_noise_data'].fillna(ev_vehicles_df['stationary_noise_data'].mean())

# Check again for any remaining missing values
print(ev_vehicles_df.isnull().sum())

_id                              0
model_release_year               0
make                             0
model                            0
variant                          0
engine_displacement              0
engine_configuration             0
engine_induction                 0
fwd_gears_no                     0
transmission_type_description    0
side_door_no                     0
seating_capacity                 0
body_style                       0
driving_wheels_no                0
fuel_type                        0
co2_emissions_combined           0
fuel_consumption_combined        0
energy_consumption_whkm          0
electric_range_km                0
air_pollution_standard           0
is_current_model                 0
model_end_year                   0
fuel_life_cycle_co2              0
annual_tailpipe_co2              0
annual_fuel_cost                 0
model_release_version            0
test_speed                       0
stationary_noise_data            0
dtype: int64

In [10]:
# Load the ev_users_test_data CSV into a pandas DataFrame
ev_users_test_data_path = 'ev_users_test_data.csv'
ev_users_test_data = pd.read_csv(ev_users_test_data_path)

# Display the first few rows to ensure it's loaded correctly
print(ev_users_test_data.head())

  UserFirstName UserSurname   UserFullName           UserEmailAddress  \
0        Morgan       Blair   Morgan Blair   adamsrichard@example.com
1       Kristin       Stone  Kristin Stone      kylelewis@example.org
2         Duane     Nichols  Duane Nichols  lestermelissa@example.com
3         Traci     Sanchez  Traci Sanchez   lucaswiggins@example.org
4        Austin      Duncan  Austin Duncan        david58@example.org

   UserPassword UserRole  UserHomePostCode UserMobilePhoneNumber  \
0  SQ0gU3!bQ@jW     user              2427             7753-3742
1  Qm6yFm8F)5z9     user              2245       +61-8-4735-0434
2  &28yThgkU9Vv     user              2652             8926 8255
3  +509$jnSW2Mf     user              2984        (08).1880.9968
4  P^)3MhiL55%o     user              2619          03-8976-2182

   UserAuthenticated UserCurrentVehicleRego  ... PaymentMethod RewardsEarned  \
0               True                 D5869Z  ...   Credit Card           375
1              False                 H3930I  ...        PayPal          3960
2              False                 A8346J  ...   Credit Card          4223
3               True                 T1308J  ...        PayPal          2655
4               True                 Q1762X  ...        PayPal          3030

            DiscountCodesUsed                 FrequentChargingStations  \
0              ['DISCOUNT20']  ['Station D', 'Station C', 'Station B']
1  ['WINTER10', 'DISCOUNT20']               ['Station B', 'Station C']
2              ['DISCOUNT20']                            ['Station A']
3                ['SUMMER50']                            ['Station C']
4                          []               ['Station B', 'Station A']

  AppUsageFrequency WorkplacePostcode  TravelDistance LastChargeDate  \
0                 2              2619             147     2024-11-11
1                 7              2613             262     2024-10-06
2                19              2170             147     2024-06-21
3                30              2670             426     2024-09-24
4                23              2185             331     2024-10-25

  TotalEnergyConsumed  CarbonEmissionsSaved
0          389.599182                  0.77
1          172.510188                  0.88
2          505.773281                  0.41
3          559.071615                  1.59
4          656.703283                  0.14

[5 rows x 31 columns]

In [12]:
# Inspect column names of each DataFrame
print("Charging Stations Columns:")
print(cleaned_charging_stations_df.columns)

print("\nEV Vehicles Columns:")
print(ev_vehicles_df.columns)

print("\nEV Users Test Data Columns:")
print(ev_users_test_data.columns)

Charging Stations Columns:
Index(['Cost', 'ChargingPoints', 'PayAtLocation', 'MembershipRequired',
       'AccessKeyRequired', 'IsOperational', 'Latitude', 'Longitude',
       'Operator', 'ConnectionType', 'PowerOutput', 'CurrentType',
       'ChargingPoints_Flag'],
      dtype='object')

EV Vehicles Columns:
Index(['_id', 'model_release_year', 'make', 'model', 'variant',
       'engine_displacement', 'engine_configuration', 'engine_induction',
       'fwd_gears_no', 'transmission_type_description', 'side_door_no',
       'seating_capacity', 'body_style', 'driving_wheels_no', 'fuel_type',
       'co2_emissions_combined', 'fuel_consumption_combined',
       'energy_consumption_whkm', 'electric_range_km',
       'air_pollution_standard', 'is_current_model', 'model_end_year',
       'fuel_life_cycle_co2', 'annual_tailpipe_co2', 'annual_fuel_cost',
       'model_release_version', 'test_speed', 'stationary_noise_data'],
      dtype='object')

EV Users Test Data Columns:
Index(['UserFirstName', 'UserSurname', 'UserFullName', 'UserEmailAddress',
       'UserPassword', 'UserRole', 'UserHomePostCode', 'UserMobilePhoneNumber',
       'UserAuthenticated', 'UserCurrentVehicleRego', 'LoyaltyMemberNumber',
       'SessionBookingNumber', 'ChargeSessionId', 'AccountCreatedDate',
       'VehicleMake', 'VehicleModel', 'BatteryCapacity', 'VehicleType',
       'PreferredChargingTime', 'AverageChargingDuration', 'ChargingFrequency',
       'PaymentMethod', 'RewardsEarned', 'DiscountCodesUsed',
       'FrequentChargingStations', 'AppUsageFrequency', 'WorkplacePostcode',
       'TravelDistance', 'LastChargeDate', 'TotalEnergyConsumed',
       'CarbonEmissionsSaved'],
      dtype='object')

In [15]:
# Add 'station_id' to charging stations DataFrame
cleaned_charging_stations_df['station_id'] = range(1, len(cleaned_charging_stations_df) + 1)

# Add 'user_id' to EV Users Test DataFrame
ev_users_test_data['user_id'] = range(1, len(ev_users_test_data) + 1)

# Rename '_id' to 'vehicle_id' in EV Vehicles DataFrame
ev_vehicles_df.rename(columns={'_id': 'vehicle_id'}, inplace=True)

In [20]:
import random
import numpy as np

# Step 1: Generate transactions for each user with multiple charging station entries
# We will generate a random number of sessions for each user (for example, 3-5 sessions per user)
session_count_per_user = np.random.randint(3, 6, size=len(ev_users_test_data))

# Create a DataFrame for transactions
transactions_data = []

for idx, user_data in ev_users_test_data.iterrows():
    user_id = user_data['user_id']
    session_count = session_count_per_user[idx]
    
    # Generate multiple sessions for each user
    for i in range(session_count):
        session_id = f"session_{random.randint(1000, 9999)}"
        booking_number = f"booking_{random.randint(1000, 9999)}"
        charging_station_id = f"station_{random.randint(1, len(cleaned_charging_stations_df))}"  # Random charging station
        transaction = {
            'user_id': user_id,
            'session_id': session_id,
            'booking_number': booking_number,
            'charging_station_id': charging_station_id,
            'charging_duration': random.randint(30, 180),  # Random duration in minutes
            'payment_method': user_data['PaymentMethod'],
            'total_energy_consumed': random.randint(5, 20),  # Random energy consumed in kWh
            'carbon_emissions_saved': random.randint(10, 50)  # Random CO2 emissions saved
        }
        transactions_data.append(transaction)

# Create a DataFrame for transactions
transactions_df = pd.DataFrame(transactions_data)

transactions_df.head()

,user_id,session_id,booking_number,charging_station_id,charging_duration,payment_method,total_energy_consumed,carbon_emissions_saved
0,1,session_4009,booking_5313,station_51,31,Credit Card,8,30
1,1,session_5447,booking_8574,station_1520,42,Credit Card,8,46
2,1,session_7872,booking_2842,station_539,71,Credit Card,7,34
3,2,session_4523,booking_7630,station_416,120,PayPal,12,21
4,2,session_7675,booking_7061,station_106,92,PayPal,6,12

In [26]:
# Step 2: Remove session_id and booking_number from ev_vehicles_df and cleaned_charging_stations_df
ev_vehicles_df = ev_vehicles_df.drop(columns=['session_id', 'booking_number'], errors='ignore')
cleaned_charging_stations_df = cleaned_charging_stations_df.drop(columns=['session_id', 'booking_number'], errors='ignore')

# Step 3: Confirm the changes
# ev_vehicles_df.head(), cleaned_charging_stations_df.head() 
# Removed to keep notebool clean

In [29]:
# Populate MongoDB cloud

import pymongo
import pandas as pd

# Step 1: MongoDB connection string
MONGO_URI = "mongodb+srv://saadikram:Pp5kz2JTvJByRLzt@ev.5gxjg.mongodb.net/?retryWrites=true&w=majority&appName=EV "

# Step 2: Connect to MongoDB
client = pymongo.MongoClient(MONGO_URI)

# Step 3: Create a database (if not exists) and collections
db = client['ev_data']  # The database name is 'ev_data' in this case

# Step 4: Define collections for each DataFrame
transactions_collection = db['transactions']
ev_vehicles_collection = db['ev_vehicles']
charging_stations_collection = db['charging_stations']
ev_users_collection = db['ev_users']

# Step 5: Upload data to MongoDB

# Convert DataFrames to dictionaries and insert them into MongoDB collections
transactions_collection.insert_many(transactions_df.to_dict('records'))
ev_vehicles_collection.insert_many(ev_vehicles_df.to_dict('records'))
charging_stations_collection.insert_many(cleaned_charging_stations_df.to_dict('records'))
ev_users_collection.insert_many(ev_users_test_data.to_dict('records'))

print("Data uploaded successfully to MongoDB!")

Data uploaded successfully to MongoDB!